<h1 style="text-align:center; color:#D4B1AA;"><%= @actor.name %></h1>
<h2 style="text-align:center; color:#A29B8D">Age: <%= @actor.age %></h2>

<p style="color:#555555; text-align:center;"><b>Co-Actors:</b></p>
